body {
  background-color: #07A0C3;
}

header {
  /* background-color: aliceblue; */
  background-image: url(img/calculator.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

img {
  width: 500px;
  margin-left:auto;
  margin-right:auto;
  display: block;
}